# Listas
Son contenedores que permiten almacenar una colección de objetos en un orden determinado. Se pueden acceder, añadir o eliminar objetos de forma sencilla.

In [1]:
L1 = [] # Lista vacía

In [2]:
L2 = ['a', 'e', 'i', 'o', 'u'] # Lista de valores iniciales

In [3]:
L3 = [2,3,5,7,11] # Lista con valores enteros

In [4]:
L4 = ['a', 5, True, "Jesus Mudarra"] # Lista hetereogénea con varios tipos de datos diferentes

In [5]:
L4

['a', 5, True, 'Jesus Mudarra']

In [6]:
L5 = [0]*10

In [7]:
L5

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [8]:
L4[0] # Las listas en Python empiezan en la posición número 0

'a'

In [9]:
L4[1]

5

In [10]:
L5[4] = 3.1415 # Asignación de valores

In [11]:
L5

[0, 0, 0, 0, 3.1415, 0, 0, 0, 0, 0]

In [12]:
L5[13] = 8 # Da error porque el vector solo tiene 10 elementos

IndexError: list assignment index out of range

In [13]:
L4[0:2] # Recorre el vector desde la posición 0 hasta la 2 (sin contar la 2)

['a', 5]

In [14]:
L5[1:4] = [1,2,3]

In [15]:
L5

[0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0]

In [16]:
L5.append("8") # Para añadir al final de la lista un nuevo elemento

In [17]:
L5

[0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0, '8']

In [18]:
L5.remove(3) # Elimina la primera ocurrencia del objeto 3 de la lista L5

In [19]:
L5

[0, 1, 2, 3.1415, 0, 0, 0, 0, 0, '8']

In [20]:
L5.reverse() # Da la vuelta a los elementos de la lista

In [21]:
L5

['8', 0, 0, 0, 0, 0, 3.1415, 2, 1, 0]

In [22]:
L5.count(0) # Cuenta cuantos ceros hay en la lista L5

6

In [23]:
L5.index(2) # En que índice se encuentra un determinado elemento

7

In [24]:
len(L5) # Longitud de la lista L5

10

In [25]:
L=[1,2,3,4,5,6]

In [26]:
L[1::2] # Sacar elementos en posición impar

[2, 4, 6]

In [27]:
L[::2] # Sacar elementos en posición par

[1, 3, 5]

In [28]:
L[-1] # Para sacar el último elementos sin saber la longitud de la lista

6

In [29]:
8 in L # Para saber si 8 está dentro de de la lista L

False

In [30]:
4 in L # Para saber si 4 está dentro de de la lista L

True

# Bucles

Los bucles **for** iteran sobre una colección (una lista, un string, un objeto iterable)

In [31]:
for numero in L:
    print(numero)

1
2
3
4
5
6

In [32]:
numero

6

In [33]:
for x in range(0,10): # range(10) = range(0,10)
    print(x)

0
1
2
3
4
5
6
7
8
9

In [34]:
for c in "Jesus Mudarra":
    print(c)

J
e
s
u
s

M
u
d
a
r
r
a

In [35]:
notas = [3.5, 6.7, 8 ,9 ,4.5]
suma = 0
for nota in notas:
    suma = suma + nota
print(suma/len(notas))

6.34

El bucle **while** se repite hasta que la condición booleana deja de ser cierta

In [36]:
count = 0
while count < 10:
    print(count)
    count += 1

0
1
2
3
4
5
6
7
8
9

In [37]:
primos = [2,3,5,7,11,13,17,19,23,29]
for idx, p in enumerate(primos):
    print(idx, p)

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

In [38]:
for idx in range(len(primos)):
    print(idx)

0
1
2
3
4
5
6
7
8
9

In [39]:
for idx in range(len(primos)):
    print(idx,primos[idx])

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

#### Ejercicio Criba de Eratóstenes

In [40]:
from IPython.display import HTML
HTML('<div align="center"><img src="./criba.gif"></div>')

In [41]:
# Pedimos al usuario que introduzca un
n=int(input("Escribe el número: "))
print("\nPerfecto! Se va a calcular los números primos comprendidos entre 2 y {}".format(n))

Escribe el número: 100

Perfecto! Se va a calcular los números primos comprendidos entre 2 y 100

In [42]:
## Declaración función que calcula la Criba de Eratóstenes
def criba_eratostenes(n):
    
    multiplos=[]
        
    for i in range(2,n+1):
        if i not in multiplos:
            print(i)
            for j in range(i*i,n+1,i):
                multiplos.append(j)

criba_eratostenes(n)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Tuplas
Una tupla es una colección de objetos que no puede modificarse (tiene tamaño y contenido fijo).

In [43]:
p1 = (1)

In [44]:
p1

1

In [45]:
p2 = (1,2,3,4)

In [46]:
p3 = 1,2,'c',3.1415

In [47]:
p3

(1, 2, 'c', 3.1415)

In [48]:
p3[0] # Para acceder al valor de un dato de la tupla se hace igual que con las listas

1

In [49]:
p3[0:2]

(1, 2)

In [50]:
a,b,c,d = p3

In [51]:
a

1

In [52]:
b

2

In [53]:
c

'c'

In [54]:
d

3.1415

In [55]:
l3 = list(p3) # convertir a lista una tupla
l3

[1, 2, 'c', 3.1415]

In [56]:
p5 = tuple(L5)
p5

('8', 0, 0, 0, 0, 0, 3.1415, 2, 1, 0)

In [57]:
"Hola que tal estas".split(" ")

['Hola', 'que', 'tal', 'estas']

#### Ejercicio tuplas

In [58]:
r = int(input("ingrese un rango: "))
lista = []

for i in range(1, r+1):

    valor = input("Ingrese un valor: ")
    lista.append(valor)

tupla = tuple(lista)

print("Los valores ingresados de la lista son: ", lista)
print("Los valores convertidos en tupla son: ", tupla)

ingrese un rango: 5
Ingrese un valor: 1
Ingrese un valor: 23
Ingrese un valor: 45
Ingrese un valor: 6
Ingrese un valor: 1
Los valores ingresados de la lista son:  ['1', '23', '45', '6', '1']
Los valores convertidos en tupla son:  ('1', '23', '45', '6', '1')

In [59]:
print(type(lista))
print(type(tupla))

<class 'list'>
<class 'tuple'>

#### Solución de Juan Gabriel

In [9]:
numeros = input("Escribe números separados por comas: ")
numerosL = numeros.split(",")
print(numerosL)
numerosT = tuple(numerosL)
print(numerosT)

Escribe números separados por comas: 1,2,3,4,5,6,7,8,9,10
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [10]:
suma = 0
for n in numerosT:
    suma += int(n)
    
print(suma/len(numerosT))

5.5

# Diccionario
Colección no ordenada de pares de valores: claves <-> valores. Se indexa no por posición, si no utilizando las claves

In [3]:
nombre = input("Introduce aquí tu nombre: ")
print("Hola %s"%nombre)

Introduce aquí tu nombre: Jesús Mudarra
Hola Jesús Mudarra

In [6]:
print("Estos son los números primos: %s"%numerosL)

Estos son los números primos: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15']

In [11]:
media = suma/len(numerosT)
print("Esto es un número decimal: %.2f"%media)

Esto es un número decimal: 5.50

In [1]:
edad = {"Jesús Mudarra":27,
        "María":20,
        "Ricardo":52,
        "Antonio":45
       }

In [4]:
edad["Jesús Mudarra"]

27

In [6]:
edad.keys()

dict_keys(['Jesús Mudarra', 'María', 'Ricardo', 'Antonio'])

In [7]:
edad.values()

dict_values([27, 20, 52, 45])

In [8]:
len(edad)

4

In [9]:
"Pepe" in edad

False

In [10]:
"María" in edad

True

In [11]:
"Mario" not in edad

True

In [12]:
del edad ["Antonio"]

In [13]:
edad

{'Jesús Mudarra': 27, 'María': 20, 'Ricardo': 52}

In [14]:
notas = {"Al1": 5.6, "Al2": 7.5, "Al3": 10, "Al4": False}
notas

{'Al1': 5.6, 'Al2': 7.5, 'Al3': 10, 'Al4': False}